body{
    font-size: 30px;
}

.red{
    color:red;
}

.green{
    color:green;
}

.gray{
    color:gray;
}

button{
    font-size: 20px;
    width: 80px
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

